In [1]:
import pandas as pd
import numpy as np

### 실습용자료

#### 1. txt파일 csv로 변환

In [2]:
file = pd.read_csv('문서분류/실습용자료.txt', sep = "\t", encoding = "cp949")
new_csv_file = file.to_csv('문서분류/실습용자료.csv',encoding = "cp949")

#### 2. 열 구분 재정렬

In [3]:
df1 = pd.read_csv('문서분류/실습용자료.csv', encoding = "cp949")
df1 = df1.drop('Unnamed: 0',axis=1)
print('문서 개수',len(df1),'개')
df1.head()

문서 개수 1000000 개

  AI_id|digit_1|digit_2|digit_3|text_obj|text_mthd|text_deal
0          id_0000001|S|95|952|카센터에서|자동차부분정비|타이어오일교환
1        id_0000002|G|47|472|상점내에서|일반인을 대상으로|채소.과일판매
2    id_0000003|G|46|467|절단하여사업체에도매|공업용고무를가지고|합성고무도매
3           id_0000004|G|47|475|영업점에서|일반소비자에게|열쇠잠금장치
4       id_0000005|Q|87|872|어린이집|보호자의 위탁을 받아|취학전아동보육

In [4]:
df1.columns

Index(['AI_id|digit_1|digit_2|digit_3|text_obj|text_mthd|text_deal'], dtype='object')

In [5]:
df1 = df1.rename(columns={'AI_id|digit_1|digit_2|digit_3|text_obj|text_mthd|text_deal':'col'})
df1.head()

                                               col
0        id_0000001|S|95|952|카센터에서|자동차부분정비|타이어오일교환
1      id_0000002|G|47|472|상점내에서|일반인을 대상으로|채소.과일판매
2  id_0000003|G|46|467|절단하여사업체에도매|공업용고무를가지고|합성고무도매
3         id_0000004|G|47|475|영업점에서|일반소비자에게|열쇠잠금장치
4     id_0000005|Q|87|872|어린이집|보호자의 위탁을 받아|취학전아동보육

In [6]:
df1[['AI_id', 'digit_1', 'digit_2', 'digit_3','text_obj','text_mthd','text_deal']] = pd.DataFrame(df1.col.str.split('|', 6).tolist())

In [7]:
df1.columns

Index(['col', 'AI_id', 'digit_1', 'digit_2', 'digit_3', 'text_obj',
       'text_mthd', 'text_deal'],
      dtype='object')

In [8]:
df1 = df1.drop(['col','AI_id'],axis=1)
df1.head()

  digit_1 digit_2 digit_3    text_obj    text_mthd text_deal
0       S      95     952       카센터에서      자동차부분정비   타이어오일교환
1       G      47     472       상점내에서    일반인을 대상으로   채소.과일판매
2       G      46     467  절단하여사업체에도매    공업용고무를가지고    합성고무도매
3       G      47     475       영업점에서      일반소비자에게    열쇠잠금장치
4       Q      87     872        어린이집  보호자의 위탁을 받아   취학전아동보육

#### 3. 텍스트 열 재통합

In [9]:
df1["Full Text"] = df1["text_obj"] + " " + df1["text_mthd"] + " " + df1["text_deal"]

In [10]:
df1 = df1.drop(['text_obj','text_mthd','text_deal'],axis=1)
df1.head()

  digit_1 digit_2 digit_3                    Full Text
0       S      95     952        카센터에서 자동차부분정비 타이어오일교환
1       G      47     472      상점내에서 일반인을 대상으로 채소.과일판매
2       G      46     467  절단하여사업체에도매 공업용고무를가지고 합성고무도매
3       G      47     475         영업점에서 일반소비자에게 열쇠잠금장치
4       Q      87     872     어린이집 보호자의 위탁을 받아 취학전아동보육

#### 4.파일 추출

In [11]:
df1.to_csv('실습용.csv', encoding = "cp949",index=False)

In [12]:
data1 = pd.read_csv('실습용.csv', sep=',',encoding = "cp949")

In [13]:
data1.head()

  digit_1  digit_2  digit_3                    Full Text
0       S       95      952        카센터에서 자동차부분정비 타이어오일교환
1       G       47      472      상점내에서 일반인을 대상으로 채소.과일판매
2       G       46      467  절단하여사업체에도매 공업용고무를가지고 합성고무도매
3       G       47      475         영업점에서 일반소비자에게 열쇠잠금장치
4       Q       87      872     어린이집 보호자의 위탁을 받아 취학전아동보육

### 모델개발용 자료

#### 1. txt파일 csv로 변환

In [14]:
file = pd.read_csv('문서분류/모델개발용자료.txt', sep = "\t", encoding = "cp949")
new_csv_file = file.to_csv('문서분류/모델개발용자료.csv',encoding = "cp949")

#### 2. 열 구분 재정렬

In [15]:
df2 = pd.read_csv('문서분류/모델개발용자료.csv', encoding = "cp949")
df2 = df2.drop('Unnamed: 0',axis=1)
print('문서 개수',len(df2),'개')
df2.head()

문서 개수 100000 개

  AI_id|digit_1|digit_2|digit_3|text_obj|text_mthd|text_deal
0                 id_000001||||치킨전문점에서|고객의주문에의해|치킨판매
1                 id_000002||||산업공구|다른 소매업자에게|철물 수공구
2                   id_000003||||절에서|신도을 대상으로|불교단체운영
3                     id_000004||||영업장에서|고객요구로|자동차튜닝
4            id_000005||||실내포장마차에서|접객시설을 갖추고|소주,맥주제공

In [16]:
df2.columns

Index(['AI_id|digit_1|digit_2|digit_3|text_obj|text_mthd|text_deal'], dtype='object')

In [17]:
df2 = df2.rename(columns={'AI_id|digit_1|digit_2|digit_3|text_obj|text_mthd|text_deal':'col'})
df2.head()

                                       col
0       id_000001||||치킨전문점에서|고객의주문에의해|치킨판매
1       id_000002||||산업공구|다른 소매업자에게|철물 수공구
2         id_000003||||절에서|신도을 대상으로|불교단체운영
3           id_000004||||영업장에서|고객요구로|자동차튜닝
4  id_000005||||실내포장마차에서|접객시설을 갖추고|소주,맥주제공

In [18]:
df2[['AI_id', 'digit_1', 'digit_2', 'digit_3','text_obj','text_mthd','text_deal']] = pd.DataFrame(df2.col.str.split('|', 6).tolist())

In [19]:
df2.columns

Index(['col', 'AI_id', 'digit_1', 'digit_2', 'digit_3', 'text_obj',
       'text_mthd', 'text_deal'],
      dtype='object')

In [20]:
df2 = df2.drop(['col','AI_id'],axis=1)
df2.head()

  digit_1 digit_2 digit_3  text_obj  text_mthd text_deal
0                           치킨전문점에서   고객의주문에의해      치킨판매
1                              산업공구  다른 소매업자에게    철물 수공구
2                               절에서   신도을 대상으로    불교단체운영
3                             영업장에서      고객요구로     자동차튜닝
4                          실내포장마차에서  접객시설을 갖추고   소주,맥주제공

#### 3. 텍스트 열 재통합

In [21]:
df2["Full Text"] = df2["text_obj"] + " " + df2["text_mthd"] + " " + df2["text_deal"]

In [22]:
df2 = df2.drop(['text_obj','text_mthd','text_deal'],axis=1)
df2.head()

  digit_1 digit_2 digit_3                   Full Text
0                               치킨전문점에서 고객의주문에의해 치킨판매
1                               산업공구 다른 소매업자에게 철물 수공구
2                                 절에서 신도을 대상으로 불교단체운영
3                                   영업장에서 고객요구로 자동차튜닝
4                          실내포장마차에서 접객시설을 갖추고 소주,맥주제공

#### 4.파일 추출

In [23]:
df2.to_csv('모델개발용.csv', encoding = "cp949",index=False)

In [24]:
data2 = pd.read_csv('모델개발용.csv', sep=',',encoding = "cp949")

In [25]:
data2 = data2.fillna('')

In [26]:
data2.head()

  digit_1 digit_2 digit_3                   Full Text
0                               치킨전문점에서 고객의주문에의해 치킨판매
1                               산업공구 다른 소매업자에게 철물 수공구
2                                 절에서 신도을 대상으로 불교단체운영
3                                   영업장에서 고객요구로 자동차튜닝
4                          실내포장마차에서 접객시설을 갖추고 소주,맥주제공